<div class="col-md-6 col-md-offset-3">
    <h1>Add a project!</h1>
    <%= form_for @project do |f| %>
      
        <p>Project Name</p>
        <%= f.text_field :name%>
      
        <%= f.fields_for :floorplans, @project.floorplans.build do |ff| %>
	        <p>Floorplans</p>
	        <%= ff.file_field :blueprint, multiple: true, name: "floorplans[blueprint][]" %>
	    <% end %>
          
      	<%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>