<li id="project-<%= project.id %>">
  <span class="content">
    <p><%= project.name %> | <%= link_to "Delete", project, method: :delete, data: { confirm: "You sure?" } %></p>
   
    <% project.floorplans.each do |floorplan| %>
      <figure style="display: inline-block">
        <a href="<%= floorplan.blueprint.url %>" >
        <%= image_tag floorplan.versions["thumb"]["url"] %>
        <figcaption><%= File.basename(floorplan.blueprint.url, File.extname(floorplan.blueprint.url)) %></figcaption>
      </figure>
    <% end %>
  </span>
</li>